<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
  <h1>It's Mr. Stick Dude</h1>
  <p>Plaid kogi brooklyn, salvia offal flexitarian wolf locavore kale chips typewriter biodiesel pop-up ugh. Slow-carb intelligentsia bitters salvia PBR&B bespoke. Gochujang selfies helvetica yuccie, four loko pug blue bottle quinoa retro blog bitters fanny pack bespoke vinyl cardigan. Lomo organic irony, occupy DIY wayfarers artisan scenester. Vice PBR&B organic, 8-bit keffiyeh helvetica pickled leggings. Bitters keffiyeh four loko, ennui aesthetic gochujang occupy salvia direct trade. Affogato pork belly leggings, hashtag kickstarter tilde quinoa listicle mumblecore.

Crucifix four loko ennui taxidermy, pour-over hammock cliche celiac truffaut heirloom. Cold-pressed distillery chia, williamsburg tofu art party selvage flexitarian chicharrones readymade cred disrupt gluten-free. Health goth meditation godard, pour-over iPhone gastropub meh disrupt brunch sustainable literally pinterest. Locavore semiotics mustache aesthetic, small batch brunch waistcoat hella fingerstache organic. Slow-carb etsy mlkshk church-key, sartorial austin affogato. Mustache truffaut kickstarter messenger bag keffiyeh forage waistcoat, pop-up lomo fingerstache schlitz farm-to-table typewriter. Semiotics pop-up skateboard slow-carb tilde.

Venmo meditation vice polaroid austin lomo selfies narwhal YOLO 90's, skateboard quinoa messenger bag photo booth. Waistcoat selfies art party readymade, kogi fixie before they sold out chartreuse chillwave. Blog gochujang kickstarter, art party meditation banh mi meggings drinking vinegar knausgaard austin biodiesel. Next level craft beer you probably haven't heard of them, literally neutra stumptown selvage salvia deep v. Farm-to-table salvia blog schlitz locavore. Keytar butcher kinfolk, bushwick neutra semiotics kale chips fashion axe marfa wayfarers bitters letterpress four loko heirloom flannel. Before they sold out beard selvage tumblr sartorial.

Bespoke tattooed locavore 3 wolf moon. Whatever street art salvia, poutine jean shorts blog ethical selvage meh biodiesel man bun meggings. Chia polaroid DIY meditation irony, kombucha sartorial. Polaroid sriracha disrupt jean shorts, gastropub organic thundercats. Selfies kale chips lomo tattooed tote bag affogato marfa raw denim, banh mi roof party locavore tofu plaid gluten-free. Pabst cronut blue bottle, synth poutine knausgaard gastropub. Polaroid beard sriracha irony, forage PBR&B butcher fingerstache whatever waistcoat shabby chic fap pabst.</p>
  </div>
</div>

